doctype html
html(lang="en")

block vars
  - var bodyclass = null;

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href='/css/all.css')

  body(class=bodyclass)

    block header
      header.siteHeader
        div.content-wrap
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description

    div#content
      div.content-wrap
        block content
          small block content not specified

    footer
      div.content-wrap
        block footer
          //section.about
          //  !=contents['about.md'].html
          section.copy

            p Need less, explore more, live flexibly.

            p
              a(href=contents.index.url) Home
              | &nbsp;&mdash;&nbsp;
              a(href=contents['about.md'].url) About
              | &nbsp;&mdash;&nbsp;
              a(href=contents['archive.json'].url) Archive
              | &nbsp;&mdash;&nbsp;

              | &copy; #{ new Date().getFullYear() }&nbsp;
              a(href='http://simple.gy') #{ locals.owner }, Simple Guy
